// Place all the styles related to the vivas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
     font-family: Tahoma, Lucida, Calibri;
     font-size: 16px;
     color: #EEE;
      background: whitesmoke;
}

.title {
  width:86%;
 // padding:20px;
  color:white;
}

.selection {
  width:89.5%;
  padding:5px;
  color:white;
}

.timeSelect {
  float:left;
  width: 20%;
  color:white;
}

.dateSelectFrom {
  float:left;
  width: 20%;
  color:white;
}

.dateSelectEnd {
  float:left;
  width: 20%;
  color:white;
}


h5.hidden {
  visibility: hidden;
}

.go {
  float:right;
  width: 15%;
}

.showThree{
  width:89.5%;
  padding:20px;
  /* background: #888; */
  background: #002F6C;
  color:white;
}

.timeSpent {
  width: 27%;
  float:left;
  padding: 20px;
  color:white;

}

.numOfVisitors {
  width: 27%;
  float:left;
  padding: 20px;
  color:white;
}

.returningVisit {
  width: 28%;
  float:left;
  padding: 20px;
  color:white;
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black; */

}

.showTwo{
  width:89.5%;
  padding:20px;
  /* background: #888; */
  background: #002F6C;
}

.locOfVisitors{
  background-color:white;
  width: 65%;
  padding: 20px;
  padding-bottom: 10px;
  float:left;
}

.commonReferrers {
  width: 21%;
  /*    padding: 10px;
      padding-bottom: 85px;
      margin-right: 46px; */
  padding:36px;
  float:right;
  color:white;
}

.popularFinding {
  width: 89.5%;
  padding: 20px;
  height: 400px;
  overflow: auto;
  color:white;
}

.returningVisit .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: whitesmoke;
  color: #002F6C;
  text-align: center;
  border-radius: 5px;
  padding: 2px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.returningVisit:hover .tooltiptext {
  visibility: visible;
}

.searchTerm {

}


td{
  text-align: left;
  color:white;
}

a:link {
  color: white;
}

a:visited {
  color:lightblue;
}
